body {
  background-color: azure;
  color: darkslategrey;
}

header a {
font-size: 45px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 0px;
text-decoration: none;
color: darkslategrey;
position: relative;
}

header a:active{
top: 3px;
}
